.HeroPages{
    width: 100%;
    background-image: url('/src/assets/images/page-heading-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px;
    gap: 37px;}

    .HeroPages h2{
        color: white;
        font-weight: 800;
        font-size: 41px;
        text-align: center;
    }
    .HeroPages p{
        background-color: white;
        padding: 12px;
    }

    @media (max-width: 575px) {

        .HeroPages{
            padding: 33px;
            gap: 21px
}

.HeroPages h2{
    font-size:32px;
}
.HeroPages p{
    padding: 5px;
    font-size: 13px;
}
    }