.copy {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 25px;
    font-size: 15px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .copy {
        margin-top: 357px;
    }
}

@media (max-width: 575px) {
    .copy {
        font-size: 11px;
    }
}
